initial_center_memo_size = 100000
initial_receiver_memo_size = 100000
period_adjuster_to_update_center = 1
send_analysis_to_center = true
scheduling_algorithm = COMBINATION
new_problem = true
Task = task.c
Result = result.c
Analysis = analysis.c
generate_task = generate_task.c
process_task = process_task.c
process_result = process_result.c
